<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Response Layout Builder</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="theme-color" content="#000000">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="msapplication-navbutton-color" content="#000000">
    <!-- Windows Phone -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <!-- iOS Safari -->
    <link href="favicon.ico" rel="icon" type="image/x-icon">

    <!--jQuery CDN v1.11.1 -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    
    <!-- angularjs -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

    <!-- boothtrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <!-- plugin -->
    <link rel="stylesheet" type="text/css" href="plugin/font-awesome/css/font-awesome.min.css" media="all">
    <script src="plugin/jquery-md5/jquery-md5.min.js"></script>
    <script src="plugin/angular-ui-sortable/sortable.min.js"></script>

    <!-- default -->
    <link rel="stylesheet" type="text/css" href="css/response.style1.min.css" media="all"><!--response樣式-->
    <link rel="stylesheet" type="text/css" href="css/sass.css" media="all"><!--sass樣式編輯檔-->
    <link rel="stylesheet" type="text/css" href="css/nosass.css" media="all"><!--無sass樣式編輯檔-->
    <script type="text/javascript" src="js/response.min.js"></script><!--response主程式-->
    <script type="text/javascript" src="js/custom.js"></script><!--response主程式-->

</head>

<body ng-app="myDemoList" ng-controller="myDemoListCtrl" class="index_page">
    
    <div id="top-nav" class="resRow filter">
        <div class="resCol12"><div id="nav" class="resMargin">
            <strong><i class="fa fa-search" aria-hidden="true"></i> Filter: </strong> 
            <input class="search" type="text" ng-model="dataTags" placeholder="tag keywords" />

            <strong><i class="fa fa-th-large" aria-hidden="true"></i> Layout: </strong>
            <button class="btn" ng-click="layoutMe('resCol4')">3x</button>
            <button class="btn" ng-click="layoutMe('resCol3')">4x</button>
            <button class="btn" ng-click="layoutMe('resCol2_4')">5x</button>
            <button class="btn" ng-click="layoutMe('resCol2')">6x</button>

            <strong><i class="fa fa-sort" aria-hidden="true"></i> Order by: <i class="fa fa-sort-amount-{{sortBy}}" aria-hidden="true"></i></strong>
            <button class="btn" ng-click="orderMe('default')" ng-class="{reverse: reverse}"><i class="fa fa-database" aria-hidden="true"></i> Default</button>
            <button class="btn" ng-click="orderMe('title')" ng-class="{reverse: reverse}"><i class="fa fa-bookmark" aria-hidden="true"></i> Title</button>
            <button class="btn" ng-click="orderMe('level')" ng-class="{reverse: reverse}"><i class="fa fa-star" aria-hidden="true"></i> Level</button>

            <div class="controller {{manage_btn_state}}">
                <a class="btn" href="#" ng-click="addItemDia()"><i class="fa fa-plus" aria-hidden="true"></i> ADD</a>
                <a class="btn {{save_btn_state}}" href="#" ng-click="saveToServer()"><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</a>
                <a class="btn manageSwitch {{manage_btn_state}}" href="#" ng-click="manage()"><i class="fa fa-cogs" aria-hidden="true"></i> MANAGE</a>

                <!-- dialog -->
                <div id="dia1" title="ADD NEW DEMO">
                    <fieldset>
                        <div class="form-group">
                            <label for="project_type">THUMB</label>
                            <input id="new_thumbs" type="text" class="form-control" ng-model="new_thumbs" value="{{new_thumbs}}" >
                        </div>
                        <div class="form-group">
                            <label for="project_type">TITLE</label>
                            <input id="new_title" type="text" class="form-control" ng-model="new_title" value="{{new_title}}" >
                        </div>
                        <div class="form-group">
                            <label for="project_type">PATH</label>
                            <input id="new_path" type="text" class="form-control" ng-model="new_path" value="{{new_path}}" >
                        </div>
                        <div class="form-group">
                            <label for="project_type">TAGS</label>
                            <input id="new_tags" type="text" class="form-control" ng-model="new_tags" value="{{new_tags}}" >
                        </div>
                        <div class="form-group">
                            <label for="project_type">LEVEL</label>
                            <input id="new_level" type="number" class="form-control" min="1" max="5" ng-model="new_level" value="{{new_level}}" >
                        </div>
                        <div class="form-group">
                            <input type="button" value="{{button_text}}" ng-click="updateItem()" />
                        </div>
                    </fieldset>
                </div>
                <!-- dialog -->

            </div>

        </div></div>
    </div>

    <!-- template -->
    <div id="main">
        <ng-view></ng-view>
    </div>
    <!-- template -->

    <div id="bottom-block" class="resRow">
        <div class="resCol12 center"><div class="resPadding">
            Response page layout builder
        </div></div>
    </div>

    <script type="text/javascript" src="app.js"></script>

</body>

</html>
