/*enlarge 還原*/
.resEnlargeWraper{
    overflow: hidden;
}

.resEnlarge {
    position: static;
    >.resEnlargeOpenIcon,
    >.resEnlargeContent {
        display: none;
    }
}

#resEnlargePopupWrap{
    position:fixed;
    z-index:1010;
    display:none;
    top:0;
    left:0;
    width:100%;
    height:100%;
    >.resEnlargeContent {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            z-index: 1000;
            background: #fff;
            padding: 10px 0 0 0;
            >img {
                position: relative;
                display: block;
                float: left;
                margin-top: 60px;
                margin-bottom: 30px;
                z-index: 0;
                max-width: none;
            }
            >.resEnlargeControlBar {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 50px;
                background: url("../img/response/mobile_nav_bg.png") top left repeat-x;
                background-size: 100% 100%;
                z-index: 1;
                >.resEnlargeCloseIcon,
                >.resEnlargeFitIcon,
                >.resEnlargeOraginalIcon,
                >.resEnlargePlusIcon,
                >.resEnlargeDisIcon {
                    width: 50px;
                    height: 50px;
                }
                >.resEnlargeCloseIcon {
                    background: url("../img/response/close_btn.png");
                    float: right;
                    background-size: 100% 100%;
                }
                >.resEnlargeFitIcon {
                    background: url("../img/response/fit_btn.png");
                    float: left;
                    background-size: 100% 100%;
                }
                >.resEnlargeOraginalIcon {
                    background: url("../img/response/orign_btn.png");
                    float: left;
                    background-size: 100% 100%;
                }
                >.resEnlargePlusIcon {
                    background: url("../img/response/EnlargePlus_btn.png");
                    float: left;
                    background-size: 100% 100%;
                }
                >.resEnlargeDisIcon {
                    background: url("../img/response/EnlargeDis_btn.png");
                    float: left;
                    background-size: 100% 100%;
                }
            }
        }
}

//resPopupBox
.resPopupBox {
    cursor: pointer;
    padding-bottom: 40px;
    background: #ccc;
    background: url("../img/response/resPopupBox.png") bottom left no-repeat;
}

.resPopupBoxWrap {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("../img/response/transparent.png");
    z-index: 1006;
    top: 0;
    left: 0;
    .resPopupBoxContent {
        width: auto;
        height: auto;
        margin: 0 auto;
        text-align: center;
        position: relative;
        .resPopupBoxCloseBtn {
            cursor: pointer;
            width: 40px;
            height: 40px;
            background: url("../img/response/resPopupBoxCloseBtn.png") center no-repeat;
            float: right;
            color: #fff;
            position: relative;
            top: 0;
            right: 0;
        }
        .resPopupBoxContentArea {
            width: auto;
            height: auto;
            position: relative;
            top: 60px;
            left: 0;
        }
    }
}

/* 
    - google nexus 10 landscape / galaxy tab 7.7,8,9,10.1 (1280px)
*/
@media (max-width:1280px){

}

/* 
    - ipad landscape / general screen landscape / galaxy tab (1024px)
*/
@media (max-width:1024px){

}

/* 
    - google nexus 7 landscape (966px)
    - google nexus 7 2 landscape (960px)
*/
@media (max-width:966px){

}

/* 
    - google nexus 10 portrait / galaxy tab 7.7,8,9,10.1 portrait (800px)
*/
@media (max-width:800px){
    /*enlarge setup*/
    .resEnlarge {
        position: relative;
        width: auto;
        height: auto;
        >.resEnlargeOpenIcon {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("../img/response/enlarge_btn.png") top left no-repeat;
            z-index: 1;
        }
    }

    /* 排除圖片最大尺寸樣式 */
    img.resIgnoreImgReSizer{
        max-width:none;
    }
}

/*
    - ipad portrait / general screen portrait (768px)
*/
@media (max-width:768px){

}

/*
    - iphone 6 plus landscape (736px) 
*/
@media (max-width:736px){

}

/*
    - iphone 6 landscape (667px)
*/
@media (max-width:667px){

}

/* 
    - google nexus 7 portrait (604px)
    - google nexus 7 2 portrait (600px)
    - galaxy tab portrait (600px)
*/
@media (max-width:604px){

}

/* 
    - iphone 5 landscape (568px)
    - iphone 4 landscape (480px)
*/
@media (max-width:570px){

}

/* 
    - iphone 6 plus portrait (414px) 
    - galaxy note portrait (400px)
*/
@media (max-width:420px){

}

/* 
    - iphone 6 portrait (375px)
    - galaxy S portrait (360px)
    - iphone 5 portrait (320px)
    - iphone 4 portrait (320px)
*/
@media (max-width:380px){

}

/* print style */

@media print {
    .resEnlarge>.resEnlargeOpenIcon {
        background: none;
    }
    .mobile_overflow {
        background: none;
        padding: 0;
    }
    .resMarquee>span {
        margin: 0 !important;
        width: auto;
    }
}