img {
    border: 0;
    max-width: 100%;
    height: auto;
}

#mobile_nav,
.flipContent,
#mobile_nav_bottom {
    display: none;
}


/* 預設響應式頁面設定 */

.resFlipPage {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0 0 0 0;
    background: #fff;
    text-align: left;
    @include box-shadow(0, 0, 10px, #000);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
}

.resFlipPageL {
    top: 0;
    left: -120%;
    right: auto;
}

.resFlipPageR {
    top: 0;
    left: auto;
    right: -120%;
}

.resFlipPageT {
    left: 0;
    right: auto;
    top: -120%;
}

.resFlipPage .menuList {
    margin: 60px 10px 60px 10px;
}

.resPageController,
.resPageControllerBottom {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    background: url("../img/response/mobile_nav_bg.png") top left repeat-x;
    background-size: 100% 100%;
    z-index: 1;
}

.resPageController {
    top: 0;
    >.resAddPageTitle {
        position: absolute;
        width: 100%;
        text-align: center;
        color: #fff;
        top: 0;
        z-index: 0;
    }
    >.resAddPageBackIcon {
        position: absolute;
        background: url("../img/response/closeLeft_btn.png") top left repeat-x;
        background-size: 100% 100%;
        left: 0;
        top: 0;
        z-index: 1;
        cursor: pointer;
    }
    >.resAddPageNextIcon {
        position: absolute;
        background: url("../img/response/closeRight_btn.png") top left repeat-x;
        background-size: 100% 100%;
        right: 0;
        top: 0;
        z-index: 1;
        cursor: pointer;
    }
}

.resPageControllerBottom {
    bottom: 0;
    >#closeAllresFlipPage {
        background: url("../img/response/home_btn.png") top left repeat-x;
        background-size: 100% 100%;
        cursor: pointer;
        margin: 0 auto;
    }
}

.resAddPageContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 0;
    >.resAddPageContentMain {
        margin: 60px 10px 60px 10px;
    }
}

.clear {
    clear: both;
}

/*content close mask*/

#resContentMask {
    display: none;
}

.resHtmlOverflow {
    position: relative;
    overflow: hidden !important;
    body{
        position: relative;
        overflow: hidden !important;
    }
}

/*桌面上的響應式切換樣式*/

.swap_btn_desktop_wrap {
    display: block;
    padding: 2px 2px 2px 20px;
    text-align: center;
    position: relative;
    clear: both;
}

.swap_btn_desktop {
    color: #000;
    text-decoration: none;
    width: auto;
    height: 15px;
    margin: 0 auto;
    font-size: 12px;
    text-transform: capitalize;
    >a,
    >span {
        color: #000;
        padding: 2px 2px 2px 22px;
        display: inline-block;
        height: 16px;
    }
    >a {
        background: url("../img/response/swap_m_btn_desk.png") top left no-repeat;
    }
    >span {
        font-weight: bold;
        background: url("../img/response/swap_d_btn_desk.png") top left no-repeat;
    }
}

/*scroll top image*/

#topcontrol {
    width: 50px;
    height: 50px;
    background: url("../img/response/scrolltop.png") center no-repeat;
}

/*loading icon*/

#resPageLoad_loading_icon,
#resLoader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f2f1f6 url("../img/response/loader.gif") center no-repeat;
}

#resPageLoad_loading_icon {
    z-index: 1002;
}

#resLoader {
    z-index: 1001;
}

#resPageLoader {
    @include box-shadow(0);
}

/* 
    - google nexus 10 landscape / galaxy tab 7.7,8,9,10.1 (1280px)
*/
@media (max-width:1280px){

}

/* 
    - ipad landscape / general screen landscape / galaxy tab (1024px)
*/
@media (max-width:1024px){

}

/* 
    - google nexus 7 landscape (966px)
    - google nexus 7 2 landscape (960px)
*/
@media (max-width:966px){

}

/* 
    - google nexus 10 portrait / galaxy tab 7.7,8,9,10.1 portrait (800px)
*/
@media (max-width:800px){
    /* res Document Width */
    .resContainer {
        position: static;
    }
    /*content close mask*/
    #resContentMask {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: 100;
    }
    /* page content */
    body {
        @include text-size-adjust(100%);
    }
    #resMainWrap {
        position: relative;
        margin: 0;
        width: 100%;
        z-index: 99;
        @include box-shadow(0,
        0,
        10px,
        #000);
    }
    /* menu style */
    .top_menu {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 100%;
        margin-top: 0;
        ul li {
            margin: 0 5px;
            font-size: 18px;
        }
    }
    #mobile_nav,
    #mobile_nav_bottom {
        display: block;
        left: 0;
        width: 100%;
        background: url("../img/response/mobile_nav_bg.png") top left repeat-x;
        background-size: 100% 100%;
        z-index: 150;
        overflow: auto;
        ul,
        ul li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        ul li {
            display: block;
            float: left;
            position: relative;
            &#menu_btn,
            &#menu_btn_bottom {
                float: left;
                background: url("../img/response/menu_btn.png") top left no-repeat;
                background-size: 100% 100%;
            }
            a {
                display: table-cell;
                overflow: hidden;
                color: #fff;
                text-decoration: none;
                text-align: center;
                vertical-align: middle;
            }

            .closeTop_btn,
            .closeRight_btn,
            .closeLeft_btn {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            .closeTop_btn {
                background: url("../img/response/closeTop_btn.png") top left no-repeat;
                background-size: 100% 100%;
            }
            .closeRight_btn {
                background: url("../img/response/closeRight_btn.png") top left no-repeat;
                background-size: 100% 100%;
            }
            .closeLeft_btn {
                background: url("../img/response/closeLeft_btn.png") top left no-repeat;
                background-size: 100% 100%;
            }
        }
    }
    #mobile_nav {
        top: 0;
    }
    #mobile_nav_bottom {
        bottom: 0;
    }
    /*響應式按鈕內容*/
    .flipContent {
        display: block;
        position: fixed;
        margin: 0;
        padding: 0;
        background: #FBFBFB url("../img/response/flipContent_bg.jpg") top right no-repeat;
        text-align: left;
        overflow: scroll;
        @include overflow-scrolling(touch);
        @include box-shadow(0,
        0,
        10px,
        #000);
        .menuList {
            padding: 10px;
            >div {
                float: none;
                clear: both;
                width: 100%;
                >.resContent {
                    padding: 5px 0;
                    width: 100%;
                    float: left;
                }
            }
            h1 {
                margin: 10px 0 0 0;
                padding: 2%;
                display: block;
                width: 96%;
                height: auto;
                float: left;
                color: #333;
                text-transform: uppercase;
                font-size: 20px;
                font-family: Verdana, Geneva, sans-serif;
            }
            ul {
                display: block;
                padding: 0;
                margin: 0;
                width: 95%;
                height: auto;
                float: left;
                li {
                    display: block;
                    margin: 0;
                    padding: 10px 0;
                    width: 100%;
                    height: auto;
                    float: left;
                    border-bottom: 1px dotted #CCC;
                    list-style: none;
                    font-size: 15px;
                    a {
                        margin: 0 0 0 20px;
                        padding: 0 0 0 20px;
                        display: block;
                        width: 90%;
                        width: -o-calc(90% - 20px);
                        width: -moz-calc(90% - 20px);
                        width: -webkit-calc(90% - 20px);
                        width: calc(90% - 20px);
                        height: auto;
                        font-size: 15px;
                        text-decoration: none;
                        font-family: Verdana, Geneva, sans-serif, "微軟雅黑體", "微軟正黑體", "新細明體";
                        color: #666;
                        background: url("../img/response/list.png") top left no-repeat !important;
                    }
                    ul {
                        display: block;
                        margin-left: 15px;
                        li {
                            border: none;
                            a {
                                color: #333;
                                background: url("../img/response/rootlist.png") top left no-repeat !important;
                            }
                        }
                    }
                }
                &:after {
                    clear: both;
                }
            }
        }
        
        /* 響應是視窗風格 */
        &.style1{
            background:url("../img/response/flipContent_bg.png");
            .menuList {
                padding:1px;
                h1{
                    color: #fff;
                    background: none;
                    font-weight: normal;
                    border:0;
                }

                &.resMenu a.hasChild,
                .resMenu a.hasChild{
                    background: url("../img/response/hasChild.png") right 2px center no-repeat !important;
                }

                ul{
                    width:100%;
                    background:#222;
                    li{
                        border:0;
                        padding:0;
                        float:none;
                        clear:both;
                        a{
                            border-bottom:1px solid #000;
                            border-top:1px solid #2E2E2E;
                            color: #ccc;
                            padding:2%;
                            width:96%;
                            margin:0;
                            font-weight: normal;
                            background:none !important;
                        }
                        
                        &.active{
                            >a{
                                color:#C46969;
                            }            
                        }


                        ul{
                            margin-left: 0 !important;
                            background:#555555 !important;
                            li{
                                a{
                                    background:none !important;
                                    border-bottom:1px solid #343434;
                                    border-top:1px solid #8B8B8B;
                                    color: #eee;
                                }
                                
                                &.active{
                                    >a{
                                        color:#DE6F6F;
                                    }            
                                }

                                ul{
                                    background:#A2A2A2 !important;
                                    li{
                                        a{
                                            background:none !important;
                                            border-bottom: 1px solid #888;
                                            border-top: 1px solid #eee;
                                            color: #555555;
                                        }

                                        &.active{
                                            >a{
                                                color:#7E0000;
                                            }
                                        }
                                        ul{
                                            background:#D6D6D6 !important;
                                            li{
                                                a{
                                                    background:none !important;
                                                    border-bottom: 1px solid #aaa;
                                                    border-top: 1px solid #fff;
                                                    color: #8B8B8B;
                                                }
                                                &.active{
                                                    >a{
                                                        color:#7E0000;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                select{
                    padding:2%;
                    width:100%;
                }
            }
        }
    }
    .flipContentL {
        top: 0;
        left: -100%;
        right: auto;
        width: 80%;
        height: 100%;
        z-index: 101;
    }
    .flipContentR {
        top: 0;
        left: auto;
        right: -120%;
        width: 80%;
        height: 100%;
        z-index: 101;
    }
    .flipContentT {
        left: 0;
        right: auto;
        top: -100%;
        width: 100%;
        height: 90%;
        z-index: 101;
    }
    .flipContentTS {
        left: 0;
        right: auto;
        top: -120px;
        width: 100%;
        height: 100px;
        z-index: 101;
    }
    .flipContentLU {
        top: 0;
        left: -100%;
        right: auto;
        width: 90%;
        height: 100%;
        z-index: 98;
        @include box-shadow(0,
        0,
        0,
        #000);
    }
    .flipContentRU {
        top: 0;
        left: auto;
        right: -100%;
        width: 90%;
        height: 100%;
        z-index: 98;
        @include box-shadow(0,
        0,
        0,
        #000);
    }
    /*響應式頁面*/
    .resFlipPage {
        background: #FBFBFB url("../img/response/flipContent_bg.jpg") top right no-repeat;
        overflow: scroll;
        @include overflow-scrolling(touch);
    }
    /*響應式切換按鈕*/
    #mobile_nav_content {
        #resSwap {
            margin: 10px 0;
            font-size: 20px;
            a,
            span {
                font-size: 15px;
                padding: 2px 2px 2px 22px;
                text-transform: capitalize;
            }
            span {
                font-weight: bold;
                text-decoration: underline;
                background: url("../img/response/swap_m_btn.png") top left no-repeat;
                &.split{
                    text-decoration:none;
                    padding:0;
                    background:none;
                }
            }
            a {
                background: url("../img/response/swap_d_btn.png") top left no-repeat;
            }
        }

        //風格一的樣式
        &.style1{
            #resSwap {
                margin: 10px 0;
                font-size: 20px;
                a,
                span {
                    padding: 2%;
                    width: 46%;
                    text-transform: uppercase;
                    display: block;
                    text-align: center;
                    float: left;
                }
                span {
                    font-weight: normal;
                    text-decoration: none;
                    background:#222 url("../img/response/swap_m_btn.png") center left 5px no-repeat;
                    border-bottom:1px solid #000;
                    border-top:1px solid #2E2E2E;
                    color: #fff;
                    &.split{
                        display:none;
                    }
                }
                a {
                    background:#111 url("../img/response/swap_d_btn.png") center left 5px no-repeat;
                    border-bottom: 1px solid #333;
                    border-top: 1px solid #000;
                    color: #444;
                }
            }
        }
    }
    /* other element */
    .mobile_hide {
        display: none;
    }

    /* 伸縮選單 */
    .flipContent{
        .menuList{
            &.resMenu,.resMenu{
                a.hasChild{
                    background: url("../img/response/hasChild.png") left 2px no-repeat !important;
                }

                li {

                    ul{
                        display:none;
                    }

                    &.active {
                        >ul {
                            display: block;
                        }
                    }
                    
                }
            }
        }
    }

}

/*
    - ipad portrait / general screen portrait (768px)
*/
@media (max-width:768px){

}

/*
    - iphone 6 plus landscape (736px) 
*/
@media (max-width:736px){

}

/*
    - iphone 6 landscape (667px)
*/
@media (max-width:667px){

}

/* 
    - google nexus 7 portrait (604px)
    - google nexus 7 2 portrait (600px)
    - galaxy tab portrait (600px)
*/
@media (max-width:604px){

}

/* 
    - iphone 5 landscape (568px)
    - iphone 4 landscape (480px)
*/
@media (max-width:570px){

}

/* 
    - iphone 6 plus portrait (414px) 
    - galaxy note portrait (400px)
*/
@media (max-width:420px){

}

/* 
    - iphone 6 portrait (375px)
    - galaxy S portrait (360px)
    - iphone 5 portrait (320px)
    - iphone 4 portrait (320px)
*/
@media (max-width:380px){
    .flipContent .menuList h1 {
        font-size: 18px;
    }
}

/* print style */

@media print {
    /* default setup: res object printstyle setup */
    #resMainWrap {
        margin: 0;
        padding: 0;
    }
    #mobile_nav,
    .flipContent,
    .resFlipPage,
    #topcontrol,
    #swap_btn,
    #mobile_nav_bottom,
    #resPageLoader {
        display: none !important;
    }
    table,
    th,
    td,
    h1,
    h2,
    h3,
    h4,
    h5,
    div,
    a,
    div,
    span,
    ol,
    ul,
    li,
    br,
    p,
    iframe {
        @include print-color-adjust(exact);
        /* @include page-break-inside(avoid); */
        @include page-break-after(auto);
    }
    table {
        @include page-break-inside(auto);
    }
    .resEnlarge>.resEnlargeOpenIcon {
        background: none;
    }
    .mobile_overflow {
        background: none;
        padding: 0;
    }
    .resMarquee>span {
        margin: 0 !important;
        width: auto;
    }
}
