/*動畫物件*/
.resJSlideImg {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 0;
    overflow:hidden;
    >img,
    >div,
    >a {
        display: block;
        position: absolute;
        margin:auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        opacity: 0;
        filter: alpha(opacity=0);
        >img{
            margin:0 auto;
        }
    }

    .loader{
        background: #fff url("../img/response/loader.gif") center no-repeat;
        @include opacity(1);
    }

    .resJSlideImgThumb {
        position: absolute;
        overflow: hidden;
        opacity: 1;
        z-index: 2;
        filter: alpha(opacity=100);
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        .resJSlideImgThumbPrev,
        .resJSlideImgThumbNext {
            display: block;
            background: #ccc;
            float: left;
            position: absolute;
            z-index: 1;
            &.end {
                opacity: 0;
                filter: alpha(opacity=0);
            }
        }
        ul {
            display: block;
            margin: 0;
            padding: 0;
            float: left;
            position: absolute;
            z-index: 0;
            li {
                list-style: none;
                display: block;
                margin: 5px;
                padding: 0;
                cursor: pointer;
                border: 1px solid #000;
                background: #fff;
                float: left;
                overflow: hidden;
                &.active {
                    border: 1px solid #F92672;
                }
                img {
                    display: block;
                    width:auto;
                    height:50%;
                    margin:0 auto;
                    clear: both;
                }
                span {
                    display: block;
                    height: 20px;
                    clear: both;
                    text-align: center;
                }

                &.resThumbFit{
                    img{
                        width:auto;
                        height:100%;
                        margin:0 auto;
                    }
                    span{
                        display:none;
                    }
                }
            }
        }
    }
    .resJSlideImgslideBtn {
        position: static;
        opacity: 1;
        filter: alpha(opacity=100);
        .resJSlideImgslideBtnPrev {
            position: absolute;
            background: #666;
            z-index:2;
        }
        .resJSlideImgslideBtnNext {
            position: absolute;
            background: #666;
            z-index:2;
        }
    }
}

/* 
    - google nexus 10 landscape / galaxy tab 7.7,8,9,10.1 (1280px)
*/
@media (max-width:1280px){

}

/* 
    - ipad landscape / general screen landscape / galaxy tab (1024px)
*/
@media (max-width:1024px){

}

/* 
    - google nexus 7 landscape (966px)
    - google nexus 7 2 landscape (960px)
*/
@media (max-width:966px){

}

/* 
    - google nexus 10 portrait / galaxy tab 7.7,8,9,10.1 portrait (800px)
*/
@media (max-width:800px){

}

/*
    - ipad portrait / general screen portrait (768px)
*/
@media (max-width:768px){

}

/*
    - iphone 6 plus landscape (736px) 
*/
@media (max-width:736px){

}

/*
    - iphone 6 landscape (667px)
*/
@media (max-width:667px){

}

/* 
    - google nexus 7 portrait (604px)
    - google nexus 7 2 portrait (600px)
    - galaxy tab portrait (600px)
*/
@media (max-width:604px){

}

/* 
    - iphone 5 landscape (568px)
    - iphone 4 landscape (480px)
*/
@media (max-width:570px){

}

/* 
    - iphone 6 plus portrait (414px) 
    - galaxy note portrait (400px)
*/
@media (max-width:420px){

}

/* 
    - iphone 6 portrait (375px)
    - galaxy S portrait (360px)
    - iphone 5 portrait (320px)
    - iphone 4 portrait (320px)
*/
@media (max-width:380px){

}