body{
	padding:0;
	margin:0;
	font-family: 'Lato', Verdana, Meiryo, "微軟正黑體", "Microsoft JhengHei";
	font-size:14px;
}

/* main_page style */
.main_page{
	.resContainer{
		.resDocLayout{
			width:1280px;
		}	
		
		&#dHeader{
			
		}

		&#dSubHeader{
			
		}

		&#dTorso{
			
		}

		&#dFooter{
			
		}

		&#dSubFooter{
			
		}
	}
}