doctype html
html(lang="en")
  head
    meta(charset="UTF-8") 
    meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0")  
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    title demo page1   
    meta(name="description", content="") 
    meta(name="keywords", content="")
    meta(name="theme-color", content="#000000")
    // Chrome, Firefox OS and Opera
    meta(name="msapplication-navbutton-color", content="#000000")
    // Windows Phone
    meta(name="apple-mobile-web-app-status-bar-style", content="#000000")
    // iOS Safari
    link(href="favicon.ico", rel="icon", type="image/x-icon")
    // plugin
    link(rel="stylesheet", type="text/css", href="plugin/font-awesome/css/font-awesome.min.css", media="all")
    // default
    link(rel="stylesheet", type="text/css", href="css/response.min.css", media="all")
    link(rel="stylesheet", type="text/css", href="css/sass.css", media="all")
    link(rel="stylesheet", type="text/css", href="css/nosass.css", media="all")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type="text/javascript", src="js/response.min.js")
    block responseCustom
