/* STYLE Param */

// global setting
$global-background-color:		#000;
$global-text-color:				#fff;

/* _JResponsive.scss */
$mobile-nav-bg-color:           $global-background-color;
$mobile-nav-text-color:			$global-text-color;
$close_btn_size:				26px;
$close_top_btn_content:			'\f077';
$close_right_btn_content:		'\f054';
$close_left_btn_content:		'\f053';

$flipContent-bg:                url("../img/response/default/flipContent_bg.png");
$flipContent-h1-color:          $global-text-color;
$flipContent-h1-bg-color:       none;

$menu-font-size:                15px;
$menu_btn_content:				'\f0c9';
$menu_btn_size:					26px;
$menu_child_content:			"\f078";

$menu-level1-padding:			10px 5px;
$menu-level1-border-bottom:     1px solid #111111;
$menu-level1-border-top:        1px solid #303030;
$menu-level1-text-color:        $global-text-color;
$menu-level1-bg-color:          #202020;
$menu-level1-text-color-active: $global-text-color;
$menu-level1-bg-color-active:   #111111;

$menu-level2-padding:			10px 5px 10px 4%;
$menu-level2-border-bottom:     1px solid #222222;
$menu-level2-border-top:        1px solid #404040;
$menu-level2-text-color:        #eeeeee;
$menu-level2-bg-color:          #303030;
$menu-level2-text-color-active: #eeeeee;
$menu-level2-bg-color-active:   #222222;

$menu-level3-padding:			10px 5px 10px 6%;
$menu-level3-border-bottom:     1px solid #333333;
$menu-level3-border-top:        1px solid #505050;
$menu-level3-text-color:        #dddddd;
$menu-level3-bg-color:          #404040;
$menu-level3-text-color-active: #dddddd;
$menu-level3-bg-color-active:   #333333;

$menu-level4-padding:			10px 5px 10px 8%;
$menu-level4-border-bottom:     1px solid #444444;
$menu-level4-border-top:        1px solid #606060;
$menu-level4-text-color:        #cccccc;
$menu-level4-bg-color:          #505050;
$menu-level4-text-color-active: #cccccc;
$menu-level4-bg-color-active:   #444444;

$mobile-icon-content:			"\e959";
$desktop-icon-content:			"\e956";

$resSwap-size:					15px;
$resSwap-mobile-bg-color:      	#444444;
$resSwap-mobile-color:         	#fff;
$resSwap-mobile-shadow-color:	#000;
$resSwap-desktop-bg-color:      #222222;
$resSwap-desktop-color:         #444;
$resSwap-desktop-shadow-color:  #000;

$swap_btn_desktop-size: 			12px;
$swap_btn_desktop-mobile-bg-color:  #000;
$swap_btn_desktop-mobile-color:     #fff;
$swap_btn_desktop-desktop-bg-color: #333;
$swap_btn_desktop-desktop-color:	#fff;

$resLoader-text:                	"\e97b";
$resLoader-bg-color:            	$global-background-color;
$resLoader-text-color:          	$global-text-color;
$resLoader-animation:      			loadingAnimate 1s infinite linear;
$resLoader-font-size:      			60px;
$resLoader-offset:					-30px;

//flow to top btn
$topcontrol-padding:				10px;
$topcontrol-background:				$global-background-color;
$topcontrol-color:					$global-text-color;
$topcontrol-font-size: 				20px;
$topcontrol-border-radius:			5%;
$topcontrol-content:				"\f077";

/* _JSlideImg.scss */
$slidesImg-loader-text:            	"\e97b";
$slidesImg-loader-bg-color:        	$global-background-color;
$slidesImg-loader-text-color:      	$global-text-color;
$slidesImg-loader-animation:  		loadingAnimate 1s infinite linear;
$slidesImg-loader-font-size:      	60px;
$slidesImg-loader-offset:			-30px;

$slidesImg-slideBtn-bg-color:		$global-background-color;
$slidesImg-slideBtn-color:			$global-text-color;
$slidesImg-slideBtn-size:			20px;

$slidesImg-slideBtn-prev-content-h:	"\f053";
$slidesImg-slideBtn-next-content-h:	"\f054";
$slidesImg-slideBtn-prev-content-v:	"\f077";
$slidesImg-slideBtn-next-content-v:	"\f078";

$thumbslide-border:					1px solid #ccc;
$thumbslide-bg-color:				$global-text-color;
$thumbslide-border-active:			1px solid $global-background-color;
$thumbslide-bg-color-active:		$global-text-color;

/* _JResContentSlider.scss */
$contentSlider-btn-bg:				$global-background-color;
$contentSlider-btn-color:			$global-text-color;
$contentSlider-btn-size:			20px;

$contentSlider-btn-prev-h:			"\f053";
$contentSlider-btn-next-h:			"\f054";
$contentSlider-btn-prev-v:			"\f077";
$contentSlider-btn-next-v:			"\f078";

/* _JResContentTab.scss */
$tabsBtn-bg:						#eee;
$tabsBtn-color:						#ccc;
$tabsBtn-border:					1px solid #ccc;
$tabsBtn-text-size:					16px;
$tabsBtn-border-radius:				2px 15px 0 0;

$tabsBtn-bg-active:					$global-background-color;
$tabsBtn-color-active:				$global-text-color;
$tabsBtn-border-active:				1px solid $global-background-color;

$tabsContent-border:				1px solid $global-background-color;
$tabsContent-overflow:				auto;

$resContentTab_collapse_fold:		"\f078";
$resContentTab_collapse_unfold:		"\f068";

/* _resMenu.scss */
//resMenu
$resMenu-btn-padding:				5px;
$resMenu-btn-text-size:				15px;
$resMenu-btn-color:					#fff;
$resMenu-btn-bg-color:				#000;
$resMenu-btn-bg-image:				none;
$resMenu-btn-color-active:			#fff;
$resMenu-btn-bg-color-active:		#444;
$resMenu-btn-bg-image-active:		none;

$resMenu-btn-child-padding:			5px 30px 5px 5px;
$resMenu-btn-child-color:			#fff;
$resMenu-btn-child-bg-color:		#000;
$resMenu-btn-child-bg-image:		url("../img/response/default/slider-v-next.png");
$resMenu-btn-child-color-active:	#fff;
$resMenu-btn-child-bg-color-active:	#444;
$resMenu-btn-child-bg-image-active:	url("../img/response/default/slider-v-next.png");

$resMenu-btn-level-padding:			3px;
$resMenu-btn-level1-bg:				#555;
$resMenu-btn-level2-bg:				#666;
$resMenu-btn-level3-bg:				#777;
$resMenu-btn-level4-bg:				#888;
$resMenu-btn-level5-bg:				#999;

$resMenu-btn-content:				"\f078";

//resMenu2
$resMenu2-btn-margin:				1px;
$resMenu2-btn-padding:				10px 5px;
$resMenu2-btn-text-size:			15px;
$resMenu2-btn-color:				#fff;
$resMenu2-btn-bg-color:				#000;
$resMenu2-btn-bg-image:				none;
$resMenu2-btn-color-active:			#fff;
$resMenu2-btn-bg-color-active:		#666564;
$resMenu2-btn-bg-image-active:		none;

$resMenu2-btn-child-border-bottom:			1px solid #fff;
$resMenu2-btn-child-padding:				10px 30px 10px 5px;
$resMenu2-btn-child-color:					#fff;
$resMenu2-btn-child-bg-color:				#000;
$resMenu2-btn-child-bg-image:				url("../img/response/default/slider-v-next.png");
$resMenu2-btn-child-color-active:			#fff;
$resMenu2-btn-child-bg-color-active:		#666564;
$resMenu2-btn-child-bg-image-active:		url("../img/response/default/slider-v-next.png");

$resMenu2-btn-level1-color:					#fff;
$resMenu2-btn-level1-bg-color:				#000;
$resMenu2-btn-level1-bg-image:				none;
$resMenu2-btn-level1-color-active:			#fff;
$resMenu2-btn-level1-bg-color-active:		#666564;
$resMenu2-btn-level1-bg-image-active:		none;
$resMenu2-btn-level1-color-child:			#fff;
$resMenu2-btn-level1-bg-color-child:		#000;
$resMenu2-btn-level1-bg-image-child:		url("../img/response/default/slider-h-next.png");
$resMenu2-btn-level1-color-child-active:	#fff;
$resMenu2-btn-level1-bg-color-child-active:	#666564;
$resMenu2-btn-level1-bg-image-child-active:	url("../img/response/default/slider-h-next.png");

$resMenu2-btn-content:						"\f078";
$resMenu2-subbtn-content:					"\f054";

/* _JResEnlarge.scss */
//enlarge image
$enlarge-content:			"\f00a";
$enlarge-padding: 			5px 20px 20px 5px;
$enlarge-background: 		$global-background-color;
$enlarge-float: 			left;
$enlarge-color: 			$global-text-color;
$enlarge-font-size: 		25px;
$enlarge-border-radius:		0 0 100% 0;
$enlarge-box-shadow:		0, 0, 5px, #000;

//coltrolbar
$enlarge-controlbar-background:			$global-background-color;
$enlarge-controlbar-text-color: 		$global-text-color;
$enlarge-controlbar-size-w:				50px;
$enlarge-controlbar-size-h:				50px;
$enlarge-controlbar-font-size:			25px;
$enlarge-resEnlargeCloseIcon:			"\f00d";
$enlarge-resEnlargeFitIcon:				"\f066";
$enlarge-resEnlargeOraginalIcon:		"\f065";
$enlarge-resEnlargePlusIcon:			"\f00a";
$enlarge-resEnlargeDisIcon:				"\f010";

//desktop mode control button
$enlarge-Btn-w:							50px;
$enlarge-Btn-h:							50px;
$enlarge-Btn-font-size:					25px;
$enlarge-Btn-color:						#fff;
$enlarge-BoxWrap-background-color:		#000;
$enlarge-BoxWrap-control-area-bgcolor:	$global-background-color;
$enlarge-BoxWrap-control-area-btncolor: $global-text-color;
$enlarge-BoxWrap-background-opacity:	0.8;
$enlarge-resPopupModeObj-font-size: 	60px;
$enlarge-resPopupModeObj-color:			$global-background-color;
$enlarge-resPopupModeObj-background:	none;
$enlarge-resPopupBoxPlusBtn-content:	"\f00a";
$enlarge-resPopupBoxMinusBtn-content:	"\f010";
$enlarge-resPopupBoxCloseBtn-content:	"\f00d";
$enlarge-resPopupModeObj-content: 		"\f00a";

//overflow
$overflow-bg-color:		none;
$overflow-bg-image:		url("../img/response/default/scroller_btn.png");